<%= render 'component/banner' %>


<div class="container">
<% @cocktails.each do |cocktail| %>
  <div class="card-trip">
    <%= cl_image_tag cocktail.photo, width: 200 %>
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      </div>
    </div>
  </div>
<% end %>

<div class="card-add">
    <a href="/cocktails/new">
      <i class="fas fa-plus"></i>
    </a>
</div>








